{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>ks.Twardowski</h1>
    <h2>Aby sie stalo</h2>

    <!-- pierwsza zwrotka -->
    <p>
        Gwiazdy by ciemniej było
        smutek by stale dreptał
        oczy po prostu by kochać
        choć z zamkniętymi oczami
    </p>

    <!-- druga zwrotka -->
    <p>
        wiara by czasem nie wierzyć
        rozpacz by więcej wiedzieć
        i jeszcze ból by nie myśleć
        tylko z innymi przetrwać

    </p>
    
    <!-- trzecia zwrotka -->
    <p>  
        koniec by nigdy nie kończyć
        czas by utracić bliskich
        łzy by chodziły parami
        śmierć aby wszystko się stało
        pomiędzy światem a nami
    </p>
</article> 
{% endblock %}
