{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aby sie stalo</h1>

    <pre>
            Gwiazdy by ciemniej było
        smutek by stale dreptał
        oczy po prostu by kochać
        choć z zamkniętymi oczami

        wiara by czasem nie wierzyć
        rozpacz by więcej wiedzieć
        i jeszcze ból by nie myśleć
        tylko z innymi przetrwać

        koniec by nigdy nie kończyć
        czas by utracić bliskich
        łzy by chodziły parami
        śmierć aby wszystko się stało
        pomiędzy światem a nami
    </pre>
{% endblock %}
