{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Ignacy Krasicki</h1>
        <h2>Alegoria</h2>
        <p>
        Wszędzie się znajdzie rozum, byle tylko szukać:<br/>
        A nawet i Jegomość, kiedy zacznie fukać,<br/>
        I Jejmość, gdy rozprawia,<br/>
        I nasz xiądz, gdy przymawia;<br/>
        Mają go podostatkiem i pięknie i wiele.<br/>
        Jakoż się to wydało w przewodną niedzielę.<br/>
        Gadał xiądz o Adamie,<br/>
        I o Abramie,<br/>
        I o wężu, i o Ewie,<br/>
        I o jabłku, i o drzewie...<br/>
        Po kazaniu do karczmy rzecz się wytoczyła,<br/>
        Pan Wójt, coto ma rozum i nauki siła:<br/>
        A wiecie, co xiądz prawił? rzekł całej gromadzie:<br/>
        Oto u nas są sady, a drzewa są w sadzie,<br/>
        A na drzewach są jabłka w wielkiej obfitości:<br/>
        Adam, Pan; Ewa Jejmość, a wąż, podstarości.
        </p>
    </article>
{% endblock %}
