{% extends 'base.html.twig' %}

{% block body %}
 
    <article>  
        <h1>ks. Jan Twardowski</h1>
        <h2>Ankieta</h2>
        <p>
            Czy nie dziwi cię<br/>
            mądra niedoskonałość<br/>
            przypadek starannie przygotowany<br/>
            czy nie zastanawia cię<br/>
            serce nieustanne<br/>
            samotność która o nic nie prosi i niczego nie obiecuje<br/>
            mrówka co może przenieść<br/>
            wierzby gajowiec żółty i przebiśniegi<br/>
            miłość co pojawia się bez naszej wiedzy<br/>
            zielony malachit co barwi powietrze<br/>
            spojrzenie z nieoczekiwanej strony<br/>
            kropla mleka co na tle czarnym staje się niebieska<br/>
            łzy podobno osobne a zawsze ogólne<br/>
            wiara starsza od najstarszych pojęć o Bogu<br/>
            niepokój dobroci<br/>
            opieka drzew<br/>
            przyjaźń zwierząt<br/>
            zwątpienie podjęte z ufnością<br/>
            radość głuchoniema<br/>
            prawda nareszcie prawdziwa nie posiekana na kawałki<br/>
            czy umiesz przestać pisać<br/>
            żeby zacząć czytać?
        </p>
    </article>
{% endblock %}
