{% extends 'base.html.twig' %}

{% block body %}
    <h1>Baranku Wielkanocny</h1>
    <pre>
        Baranku wielkanocny coś wybiegi z rozpaczy
        z paskudnego kąta
        z tego co po ludzku się nie udało
        prawda że trzeba stać się bezradnym
        by nielogiczne się stało
        Baranku wielkanocny coś wybiegł czysty
        z popiołu
        prawda że trzeba dostać pałą
        by wierzyć znowu
   </pre>
{% endblock %}

