{% extends 'base.html.twig' %}

{% block body %}
   <article>
    <h1>ks.Twardowski</h1>
    <h2>Baranku Wielkanocny</h2>

    <!-- pierwsza zwrotka -->
    <p>
        Baranku wielkanocny coś wybiegi z rozpaczy<br/>
        z paskudnego kąta<br/>
        z tego co po ludzku się nie udało<br/>
        prawda że trzeba stać się bezradnym<br/>
        by nielogiczne się stało<br/>
        Baranku wielkanocny coś wybiegł czysty<br/>
        z popiołu<br/>
        prawda że trzeba dostać pałą<br/>
        by wierzyć znowu<br/>
    </p>
</article>
{% endblock %}

