{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Horacy</h1>
        <h2>Carpe diem</h2>
        Nie pytaj próżno, bo nikt się nie dowie<br/>
        Jaki nam koniec szykują bogowie,<br/>
        I babilońskich nie pytaj wróżbiarzy.<br/>
        Lepiej tak przyjąć wszystko jak się zdarzy.<br/>
        A czy z rozkazu Jowisza ta zima<br/>
        Co teraz wichrem wełny morskie wzdyma,<br/>
        Będzie ostatnia czy też nam przysporzy<br/>
        Lat jeszcze kilka tajny wyrok boży<br/>
        Nie troszcz się o to i... klaruj swe wina.<br/>
        Mknie rok za rokiem, jak jedna godzina.<br/>
        Więc łap dzień każdy, a nie wierz ni trochę<br/>
        W złudnej przyszłości obietnice płoche.
    </article>
{% endblock %}
