{% extends 'base.html.twig' %}

{% block body %}
     <pre>
    <article>
    <h1>Jacek Kaczmarski</h1>
    <h2>Cud</h2>  
   <p>
    Rzućcie ochłapy głodnym psom<br/>
Na pewno znów pogryzą się<br/>
Pijakom lejcie ile chcą<br/>
Na pewno padną byle gdzie<br/>
Ziarno w posłuszny sypcie grunt<br/>
Na pewno wzejdzie bujny kłos<br/>
I nim wybuchnie mędrców bunt<br/>
Niech im wypchany błyszczy trzos<br/>
By za miłością zamknąć drzwi<br/>
Kochankom dajcie byle strych<br/>
Poetom dach z betonu<br/>
By nie spojrzał w niebo żaden z nich
</p>
<p>
Rzucili mięso między psy<br/>
Lecz żaden nie obnażył kłów<br/>
Pijakom dali wódki w bród<br/>
Pić odmówili - szkoda słów<br/>
Rzucono ziarno - mija czas<br/>
Nie wschodzi spodziewany plon<br/>
Błysnęli mędrcom złotem łask<br/>
Nie milknie buntu mądry dzwon<br/>
Zamknęli za miłością drzwi<br/>
Mur przeniknęła w pierwszą noc<br/>
Pod betonowym niebem dni<br/>
Poeci z ziemi czerpią moc<br/>
Nie będzie tak jak chcecie wy<br/>
Strażnicy wywalonych bram<br/>
Dziś z nieba wolność spadła mi<br/>
Co z nią uczynić mam?<br/>
Jacek Kaczmarski<br/>
1977
</p>
</pre>
</article>
{% endblock %}
