{% extends 'base.html.twig' %}

{% block body %}
    <pre>

<h1>Adam Asnyk</h1>

    <h1>Czarodziejka </h1>

Z wdziękiem wiosny nieśmiertelnym,

W jutrzenkowym blasku szat,

Wraz z orszakiem swym weselnym

Czarodziejka idzie w świat:

Z uwieńczoną biegnie skronią,

Z śpiewem ptasząt, z kwiatów wonią.



Przed nią sylfów jasna rzesza,

Swój weselny nucąc chór,

Na obłokach tęcze wiesza,

I otrząsa rosę z piór,

I obwieszcza jej przybycie:

Świeżą rozkosz, nowe życie.



Świat zakwita cały przed nią

I różowy bierze blask,

Płonie szczęścia przepowiednią,

Pożądaniem słodkich łask.

Wszystko wschodzi, wszystko rośnie,

Pod jej stopą drżąc radośnie.



Ona z twarzą uśmiechnięta,

Coraz nowych gości zwie

Na weselne życia święto,

Na godowe krótkie dnie.

I z złotego swego lejka

Słodycz sączy czarodziejka.



Wiecznie piękna, wiecznie młoda,

Biesiadników poi krąg,

Ledwie komu czarę poda,

Już ją wyrwie z chciwych rąk

I unosi z sobą dalej,

Na świetlanej biegnąc fali.



Próżno za nią skargi gonią,

Próżno westchnień płynie szmer:

Ona z śpiewem, blaskiem, wonią,

Już do innych zdąża sfer,

Zawiedzionym, co się skarżą,

Z uśmiechniętą mówiąc twarzą:



"Czyż sądzicie, że wy jedni,

Macie zgarnąć cały dzaiał,

Waszym żądzom odpowiedni,

I nasycić pragnień szał?

Że wam jednym tylko służę,

Niosąc życia miód i róże?



Czyż sądzicie, że mnie wiele

Obejść może ludzki los?

Ja natury spełniam cele,

Nie zważając na wasz głos;

Nikt nie wstrzyma mnie na drodze,

Jak przybyłam, tak odchodzę.



Muszę naprzód iść bezwzględnie,

Wszystkim nowy wieścić dzień:

Co zakwitło, niechaj zwiędnie,

Niech opada w mrok i cień,

Ustępując miejsca nowym

Pączkom wonnym a różowym.



Korzystając zatem z chwili,

W której napój niosę wam...

Kto raz czarę mą wychyli,

Co w niej znajdzie - mało dbam;

Czy się cieszy, czy się żali,

Niewzruszona idę dalej.



Nie ma czasu tych żałować,

Co przeżyli porę swą:

Inne usta chcą całować,

Inne serca kochać chcą:

Przyszłość świata, niecierpliwa,

Głośnym krzykiem mnie przyzywa!"



    </pre>
{% endblock %}
