{% extends 'base.html.twig' %}

{% block body %}

    
<article>
    <h1>Leopold Staff</h1>
    <h2>Deszcz Jesienny</h2>

    <!-- pierwsza zwrotka -->
    <p>
        O szyby deszcz dzwoni, deszcz dzwoni jesienny<br/>
    I pluszcze jednaki, miarowy, niezmienny,<br/>
    Dżdżu krople padają i tłuką w me okno...<br/>
    Jęk szklany... płacz szklany... a szyby w mgle mokną<br/>
    I światła szarego blask sączy się senny...<br/>
    O szyby deszcz dzwoni, deszcz dzwoni jesienny...<br/>
    </p>

    <!-- druga zwrotka -->
    <p>
        Wieczornych snów mary powiewne, dziewicze<br/>
Na próżno czekały na słońca oblicze...<br/>
W dal poszły przez chmurną pustynię piaszczystą,<br/>
W dal ciemną, bezkresną, w dal szarą i mglistą...<br/>
Odziane w łachmany szat czarnej żałoby<br/>
Szukają ustronia na ciche swe groby,<br/>
A smutek cień kładzie na licu ich miodem...<br/>
Powolnym i długim wśród dżdżu korowodem<br/>
W dal idą na smutek i życie tułacze,<br/>
A z oczu im lecą łzy... Rozpacz tak płacze...<br/>
    </p>
    <!-- trzecia zwrotka -->
    <p>
    To w szyby deszcz dzwoni, deszcz dzwoni jesienny<br/>
I pluszcze jednaki, miarowy, niezmienny,<br/>
Dżdżu krople padają i tłuką w me okno...<br/>
Jęk szklany... płacz szklany... a szyby w mgle mokną<br/>
I światła szarego blask sączy się senny...<br/>
O szyby deszcz dzwoni, deszcz dzwoni jesienny...<br/>
</p>
<!-- czwarta zwrotka -->
<p>
Ktoś dziś mnie opuścił w ten chmurny dzień słotny...<br/>
Kto? Nie wiem... Ktoś odszedł i jestem samotny...<br/>
Ktoś umarł... Kto? Próżno w pamięci swej grzebię...<br/>
Ktoś drogi... wszak byłem na jakimś pogrzebie...<br/>
Tak... Szczęście przyjść chciało, lecz mroków się zlękło.<br/>
Ktoś chciał mnie ukochać, lecz serce mu pękło,<br/>
Gdy poznał, że we mnie skrę roztlić chce próżno...<br/>
Zmarł nędzarz, nim ludzie go wsparli jałmużną...<br/>
Gdzieś pożar spopielił zagrodę wieśniaczą...<br/>
Spaliły się dzieci... Jak ludzie w krąg płaczą...<br/>
</p>
<!-- piąta zwrotka -->
<p>
To w szyby deszcz dzwoni, deszcz dzwoni jesienny<br/>
I pluszcze jednaki, miarowy, niezmienny,<br/>
Dżdżu krople padają i tłuką w me okno...<br/>
Jęk szklany... płacz szklany... a szyby w mgle mokną<br/>
I światła szarego blask sączy się senny...<br/>
O szyby deszcz dzwoni, deszcz dzwoni jesienny...<br/>
</p>
<!-- szósta zwrotka -->
<p>
Przez ogród mój szatan szedł smutny śmiertelnie<br/>
I zmienił go w straszną, okropną pustelnię...<br/>
Z ponurym, na piersi zwieszonym szedł czołem<br/>
I kwiaty kwitnące przysypał popiołem,<br/>
Trawniki zarzucił bryłami kamienia<br/>
I posiał szał trwogi i śmierć przerażenia...<br/>
Aż, strwożon swym dziełem, brzemieniem ołowiu<br/>
Położył się na tym kamiennym pustkowiu,<br/>
By w piersi łkające przytłumić rozpacze,<br/>
I smutków potwornych płomienne łzy płacze...<br/>
</p>
<!-- siódma zwrotka -->
<p>
To w szyby deszcz dzwoni, deszcz dzwoni jesienny<br/>
I pluszcze jednaki, miarowy, niezmienny,<br/>
Dżdżu krople padają i tłuką w me okno...<br/>
Jęk szklany... płacz szklany... a szyby w mgle mokną<br/>
I światła szarego blask sączy się senny...<br/>
O szyby deszcz dzwoni, deszcz dzwoni jesienny...<br/>
</p>

</article>
{% endblock %}
