{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Adam Mickiewicz</h1>
    <h2>Do Laury</h2>

    <p>
        Ledwiem ciebie zobaczył, jużem się zapłonił,
        W nieznanym oku dawnej znajomości pytał;
        I z twych jagód wzajemny rumieniec wykwitał,
        Jak z róży, której piersi zaranek odsłonił.
    </p>
    <p>
        Ledwieś piosnkę zaczęła, jużem łzy uronił,
        Twój głos wnikał do serca i za duszę chwytał;
        Zdało się, że ją anioł po imieniu witał
        I w zegar niebios chwilę zbawienia zadzwonił.
    </p>
    <p>
        O luba! niech twe oczy przyznać się nie boją,
        Jeśli cię mym spojrzeniem, jeśli głosem wzruszę;
        Nie dbam, że los i ludzie przeciwko nam stoją, 
    </p>
    <p>
        Że uciekać i kochać bez nadziei muszę.
        Niech ślub ziemski innego darzy ręką twoją,
        Tylko wyznaj, że Bóg mi poślubił twą duszę.
    </p>
</article>
{% endblock %}
