{% extends 'base.html.twig' %}

{% block body %}
    <article>   
        <h1>Juliusz Słowacki</h1>  
        <h2>Do Matki</h2>
            <p>
                Zadrży ci nieraz serce, miła matko moja,<br/>
                Widząc powracających i ułaskawionych.<br/>
                Kląć będziesz, że tak twarda była na mnie zbroja<br/>
                I tak wielkie wytrwanie w zamiarach szalonych.<br/>
            </p>
            <p>
                Wiem, żebym ci wróceniem moim lat przysporzył;-<br/>
                Mów, kiedy cię spytają, czy twój syn powraca,<br/>
                Że syn twój na sztandarach jak pies się położył<br/>
                I choć wołasz, nie idzie - oczy tylko zwraca.<br/>
            </p>
            <p>
                O czy zwraca ku tobie... więcej nic nie może,<br/>
                Tylko spojrzeniem tobie smutek swój tłumaczy;<br/>
                Lecz woli konający - nie iść na obrożę,<br/>
                Lecz woli zamiast hańby - choć czarę rozpaczy!<br/>
            </p>
            <p>
                Przebaczże mu, o moja ty piastunko droga,<br/>
                Że się tak zaprzepaścił i tak zaczeluścił;<br/>
                Przebacz... bo gdyby nie to, że opuścić Boga<br/>
                Trzeba by - toby ciebie pewno nie opuścił.<br/>
            </p>
    
    </article>
{% endblock %}
