{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Jan Twardowski<h1>
                <h2>Drzewa<h2>
 <p>
Brzozo nazbyt wieśniacza aby rosnąć w mieście<br/>
dyskretny grabie w sam raz na szpalery<br/>
jarzębino dla drozdów dzwoniących i szpaków<br/>
akacjo z której nie zlote tylko białe miody<br/>
olcho co jedna masz przy liściach szyszki<br/>
głogu co chronisz gajówkę krewniaczkę słowika<br/>
jesionie co pierwszy tracisz liście zbliżając nam jesień
 </p>
 <p>
Poproście Matkę Bożą, abyśmy po śmierci<br/>
w każdą wolną sobotę chodzili po lesie<br/>
bo niebo nie jest niebem jeśli wyjścia nie ma
 </p>
    </article>
{% endblock %}
