{% extends 'base.html.twig' %}
{% block body %}
<aritcle>
	<h1>Jan Brzechwa</h1>
	<h2>Dzik</h2>
	
	<p>
		Dzik jest dziki<br/>
		Dzik jest zły<br/>
		Dzik ma bardzo ostre kły<br/>
		Kto spotyka w lesie dzika<br/>
		Ten na drzewo zaraz zmyka
	</p>

</aritcle>
{% endblock %}