{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eskimosek</h1>

    <pre>
To jest mały Eskimosek.<br/>

Ma czerwony z mrozu nosek.<br/>

Ma kubraczek z futra foki,<br/>

co mu mocno grzeje boki.<br/>

Szyła mama go synkowi,<br/>

kiedy tata ryby łowił.<br/>

    </pre>
{% endblock %}