{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Julian Tuwim</h1>
        <h2>...Et arceo<h2>
        
        <p>
            Odi profanum vulgus. Kościół czy kawiarnia,<br/>
            Republika czy koni, wiec szewców czy armia,<br/>
            Naród, gmina, rodzina, uczelnia, czytelnia -<br/>
            Wszystko chaos i zgroza, i pustka śmiertelna.<br/>
        </p>
        <p>
            I w tym hucznym stuleciu tyrańskiej wspólnoty,<br/>
            Śród głupich wielkorządców i tępej hołoty,<br/>
            Gdzie patos lwi rozdyma mrówczą krzątaninę,<br/>
            Gromadząc ludzkość w nudną, mieszczańską rodzinę,<br/>
            Gdzie pustego kościoła krzykliwi papieże<br/>
            Na gruzach Babilonu - babilońskie wieże<br/>
            Wznoszą pośród szwargotu wyszczekanych maszyn,<br/>
            A chciwa czerń szpieguje samotność serc naszych,<br/>
            W tym wieku rozjątrzonym, wydętym, okrutnym -<br/>
            Przechodzę, mijam, milczę: obcy, zimny, smutny.<br/>
        </p>
    </article>   
{% endblock %}
