{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Emerson Ralph Waldo</h1>
        <h2>Granice</h2>
        <p>
        Kto wie to albo tamto?<br/>
        Tam w ścienie szczura słuchaj:<br/> 
        Gryzł zawsze, od kiedy świat istnieje<br/> 
        Co wiesz o jego mądrości<br/> 
        I o szalbierstwach?<br/> 
        To pokraczne zwierzątko<br/> 
        Ma swoje życie i serce,<br/> 
        Ma rodziców i dzieci<br/> 
        I jest w pokrewieństwie<br/> 
        Z urodzajnym polem, z księżycem i słońcem.<br/> 
        A kto ty jesteś? Jego złe spojrzenie<br/> 
        Okrutne wobec twego okrucieństwa<br/>
        </p>
    </article>
{% endblock %}
