{% extends 'base.html.twig' %}

{% block body %}
    <pre>
    <article>
    <h1>Juliusz Słowacki</h1>
    <h2>Hymn</h2>
   
    
<p>
    Bogarodzico, Dziewico! <br/>

Słuchaj nas, Matko Boża,<br/>
To ojców naszych spiew.<br/>
Wolności błyszczy zorza,<br/>
Wolności bije dzwon,<br/>
Wolności rośnie krzew.<br/>
Bogarodzico!<br/>
Wolnego ludu spiew<br/>
Zanieś przed Boga tron.

</p>
<p>

Podnieście głos, rycerze,<br/>
Niech grzmią wolności śpiewy,<br/>
Wstrzęsną się Moskwy wieże.<br/>
Wolności pieniem wzruszę<br/>
Zimne granity Newy;<br/>
I tam są ludzie - i tam mają duszę.

</p> 
<p>
Noc była... Orzeł dwugłowy<br/>
Drzemał na szczycie gmachu<br/>
I w szponach niosł okowy.<br/>
Słuchajcie! zagrzmiały spiże,<br/>
Zagrzmiały... i ptak w przestrachu<br/>
Uleciał nad świątyń krzyże.<br/>
Spojrzał - i nie miał mocy<br/>
Patrzeć na wolne narody,<br/>
Olśniony blaskiem swobody,<br/>
Szukał cienia... i w ciemność uleciał północy.
</p>
 <p>

O wstyd wam! wstyd wam, Litwini!<br/>
Jeśli w Gedymina grodzie<br/>
Odpocznie ptak zakrwawiony,<br/>
Głos potomności obwini<br/>
Ten naród - gdzie czczą w narodzie<br/>
Krwią zardzawiałe korony.<br/>
Wam się chylić przed obcemi,<br/>
Nam we własnych ufać siłach;<br/>
Będziem żyć we własnéj ziemi<br/>
I we własnych spać mogiłach.
</p>
 <p>
Do broni, bracia! do broni!<br/>
Oto ludu zmartwychwstanie,<br/>
Z ciemnéj pognębienia toni,<br/>
Z popiołów Feniks nowy<br/>
Powstał lud - błogosław, Panie!<br/>
Niech grzmi pieśń jak w dzień godowy.
</p>
 <p>
Bogarodzico! Dziewico!<br/>
Słuchaj nas, Matko Boża,<br/>
To ojców naszych spiew,<br/>
Wolności błyszczy zorza,<br/>
Wolności bije dzwon<br/>
I wolnych płynie krew,
</p>
<p>
Bogarodzico!<br/>
Wolnego ludu krew<br/>
Zanieś przed Boga tron.
   </p>   
</article>
    </pre>
{% endblock %}