{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Henryk Markiewicz, Andrzej Romanowski</h1>
        <h2>Jedzie pociąg</h2>
        <p>
            Jedzie pociąg z daleka,<br />
            na nikogo nie czeka,<br />
            Konduktorze łaskawy,<br />
            byle nie do do Warszawy!<br />
        </p>
    </article>
{% endblock %}
