{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rymowanka</h1>
    <article>
        <p>
            Jedzie pociąg z daleka,<br />
            na nikogo nie czeka,<br />
            Konduktorze łaskawy,<br />
            byle nie do do Warszawy!<br />
        </p>
    </article>
{% endblock %}
