{% extends 'base.html.twig' %}

{% block body %}
    <article>

        <h1>Marian Grześczak</h1>
        <h2>Kara śmierci</h2>

    A co zrobisz jeżeli ten ptak przyleci <br/>
    A co zrobisz jeżeli ten ptak zajmie twoje miejsce <br/>
    w samolocie <br/>
    w oknie <br/>
    w łóżku


    jeżeli zaskrzeczy <br/>
    w radio <br/>
    w kościele <br/>
    nad stadionem


    Tłusty i zdrowy <br/>
    o skrzydłach skręconych drutem


    w stożku z plastyku <br/>
    w kadzi krematorium


    Co zrobisz jeżeli ten ptak zaśpiewa <br/>
    co zrobisz anonimie znaku nierówności


    Ziemia <br/>
    Zielona wątroba przeżarta gąsienicami <br/>
    Sep słońca wlecze w dziobie codzienny przypływ <br/>
    Wszyscy jesteśmy skazani skazujemy <br/>
    Codzienny przypływ śmierci <br/>
    Codzienny przypływ pamięci <br/>
    Więc co zrobisz jeżeli nadejdzie data śmierci <br/>
    w tej zachodzącej zieleni <br/>
    Gdzie nawet zając straszy jak ruchliwa mina
    </article>
{% endblock %}
