{% extends 'base.html.twig' %}

{% block body %}
    <h2>Julian Tuwim - Kotek</h2>
    <hr />
    <pre>
   Miauczy kotek: miau!
- Coś ty, kotku, miał?
- Miałem ja miseczkę mleczka,
Teraz pusta jest miseczka,
A jeszcze bym chciał.

Wzdycha kotek: o!
- Co ci, kotku, co?
- Śniła mi się wielka rzeka,
Wielka rzeka, pełna mleka
Aż po samo dno.

Pisnął kotek: pii...
- Pij, koteczku, pij!
Skulił ogon, zmrużył ślipie,
Śpi - i we śnie mleczko chlipie,
Bo znów mu się śni. </pre>
{% endblock %}

