{% extends 'base.html.twig' %}

{% block body %}
   <article>
    <h1>Julian Tuwim</h1>
    <h2>Kotek</h2>
    <p>
   Miauczy kotek: miau!<br/>
- Coś ty, kotku, miał?<br/>
- Miałem ja miseczkę mleczka,<br/>
Teraz pusta jest miseczka,<br/>
A jeszcze bym chciał.<br/>
</p>
<p>
Wzdycha kotek: o!<br/>
- Co ci, kotku, co?<br/>
- Śniła mi się wielka rzeka,<br/>
Wielka rzeka, pełna mleka<br/>
Aż po samo dno.<br/>
</p>
<p>
Pisnął kotek: pii...<br/>
- Pij, koteczku, pij!<br/>
Skulił ogon, zmrużył ślipie,<br/>
Śpi - i we śnie mleczko chlipie,<br/>
Bo znów mu się śni.<br/>
</p>
</article>
{% endblock %}

