{% extends 'base.html.twig' %}

{% block body %}
    <pre>   
        
          <article>
            <h1>Rudyard Kipling</h1>
            <h2>List Do Syna</h2>
    <p>    
        Jeżeli zdołasz zachować spokój, <br />
        chociażby wszyscy go stracili, ciebie oskarżając;<br />
            Jeżeli nadal masz nadzieję, chociażby wszyscy o Tobie zwątpili,<br />
            licząc się jednak z ich zastrzeżeniem; Jeżeli umiesz czekać bez zmęczenia, </p>
    <p>   jeżeli na obelgi nie reagujesz obelgami,<br />
        jeżeli nie odpłacasz na nienawiść nienawiścią,<br />
        nie udając jednakże mędrca i świętego;<br />
            Jeżeli marząc - nie ulegasz marzeniom;<br />
            Jeżeli rozumując - rozumowania nie czynisz celem; Jeżeli umiesz przyjąć sukces i porażkę,<br />
            traktując jednakowo oba te złudzenia,</p>
    <p>     Jeżeli ścierpisz wypaczenie prawdy przez Ciebie głoszonej,<br />
            kiedy krętacze czynią z niej zasadzkę, by wydrwić naiwnych<br />
            albo zaakceptujesz ruinę tego, co było treścią twego życia,<br />
            kiedy pokornie zaczniesz odbudowę zużytymi już narzędziami; Jeśli potrafisz na jednej szali położyć wszystkie twe sukcesy<br />
        i potrafisz zaryzykować, stawiając wszystko na jedną kartę,<br />
        jeśli potrafisz przegrać i zacząć wszystko od początku, bez słowa,<br />
        nie żaląc się, że przegrałeś; </p>
    <p>     Jeżeli umiesz zmusić serce, nerwy, siły, by nie zawiodły,<br />
            choćbyś od dawna czuł ich wyczerpanie,<br />
            byleby wytrwać, gdy poza wolą nic już nie mówi o wytrwaniu; Jeżeli umiesz rozmawiać z nieuczciwymi, nie tracąc uczciwości<br />
        lub spacerować z królem w sposób naturalny,<br />
            Jeżeli nie mogą Cię zranić nieprzyjaciele ani serdeczni przyjaciele;<br />
            Jeżeli cenisz wszystkich ludzi, nikogo nie przeceniając; Jeżeli potrafisz spożytkować każdą minutę,<br />
            nadając wartość każdej przemijającej chwili; </p>
    <br />
    <p> Twoja jest ziemia i wszystko, co na niej  <br />
        i co - najważniejsze - synu mój - będziesz Człowiekiem.</p>
        </article>
 

    </pre>
{% endblock %}
