{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marsz</h1>

    <pre>
    <article>
<h1>Bruno Jasieński</h1>
<h2>Marsz</h2>

<p>Siostrom od św. Samki <br/>
</p>
  <p>
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. <br/>
Tutaj. I tu. I tu. I tam. <br/>
Jeden. Siedm. Czterysta-cztery. <br/>
Panie. Na głowach. Mają. Rajery. <br/>
Damy. Damy. Tyle tych. Dam. <br/>
Tam. Ta. To tu. To tu. To tam. <br/>
W willi. Nad morzem. Płacze. Skriabin. <br/>
Obcas. Karabin. Obcas. Karabin. <br/>
Ludzie. Ludzie. Ludzie. Do bram. <br/>
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. <br/>
  </p>   <p>
Tam. Tam. Dalej. Za kantem. <br/>
Pani. Biała. Z pękiem. Chryzantem. <br/>
Pani. Biała. Czekała. W oknie. <br/>
Kwiat. Spadł. Kapnie. Na stopnie. <br/>
Szli. Szli. Rzędem. Po rzędzie. <br/>
Tam. I tam. I dalej. I wszędzie. <br/>
Młodzi. Zdrowi. Silni. Jak byki. <br/>
Wozy. Wiozły. W kozły. Koszyki. <br/>
W tłumie. Dziewczyna. Uliczna. Stała. <br/>
Szybko. Podbiegła. Pocałowała. <br/>
Ach! Krzyk. Tylko. To jedno. <br/>
Kwiaty. W pęku. Na ręku. Więdną. <br/>
Wolno. Cicho. Padają. Płatki. <br/>
W dół. Na bruk. Na konfederatki. <br/>
Eh! Pani. Pani. Biała. <br/>
Kuwa. Prosta. Przelicytowała! <br/>
Nam. Nam. Dajcie. I nam! <br/>
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. <br/>
  </p>   <p>
Panie. Panny. Panowie. Konie. <br/>
Jedzie. Dzwoni. Auto. W melonie. <br/>
Praczki. Szwaczki. Okrzyki. Kwiatki. <br/>
? Chodźmy. Panna. Do. Seperatki. ? <br/>
Panna. Płacze: ? Idą. Na wojnę. <br/>
Takie. Młode. Takie. Przystojne. ? <br/>
Rzędem. Za rzędem. Z rzędem. Rząd. <br/>
Wszyscy. Wszyscy. Wszyscy. Na, front. <br/>
Eh by. Było. Młodych. Mam! <br/>
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. <br/>
  </p>   <p>
Ktoś się. Rozpłakał. Ktoś. Bez czapki. <br/>
Liście. Kapią. Jak gęsie. Łapki. <br/>
W parku. Żółknie. Gliniany. Heros. <br/>
Chłopak. Z redakcji. Pali. Papieros. <br/>
Ktoś. Ktoś. Upadł. Nagły. Krwotok. <br/>
Ludzie. Ludzie. Skłębienie. Potok. <br/>
Co?... Co?... Leży... Krew... <br/>
Łapią... Kapią. Liście. Z drzew. <br/>
? Puśćcie! Puśćcie! Puśćcie! Ja nieechcę! <br/>
Kurz. Kłębem. W zębach. Łechce. <br/>
Krzyk. Popłoch. Włosy. Drżą. <br/>
Krew... W krwi... Pachnie. Krwią... <br/>
Tam. Tam. Poszli. Pobiegły. <br/>
Duszno. Pusto. Usta. O cegły. <br/>
Tu. I tu. I na rękach. Krew. <br/>
...<br/>
Eh tam! Gdzie już. Nam! <br/>
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. <br/>
  </p>   <p>
Poszli. Przeszli. Ile tu. Kobiet. <br/>
Panie. Idą. Gotować. Obiad. <br/>
Ktoś. W żałobie. Nie wie. Gdzie. Iść. <br/>
Stanął. Stoi. Ogląda. Liść. <br/>
Podniósł. Z drogi. Pomięty. Kwiatek. <br/>
Tyle. Panien. Tyle. Mężatek. <br/>
Tyle. Przeszło. Tyle ich. Szło... <br/>
Słońce. Świeci. Żółto. I mdło. <br/>
Zaraz... Zaraz... Zaraz wam... Zagram... <br/>
Panie. W kawiarni. Piją. Mazagran. <br/>
Wieczorem. W domach. U św. Samki. <br/>
Przed. Matką Boską. Paliły się. Lampki. <br/>
  </p>
    </article>

    </pre>
{% endblock %}