{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Adam Asnyk</h1>
        <h2>Miejcie nadzieję</h2>
        <p>
        Miejcie nadzieję!... Nie tę lichą, marną <br/>  
        Co rdzeń spróchniały w wątły kwiat ubiera, <br/>    
        Lecz tę niezłomną, która tkwi jak ziarno <br/>  
        Przyszłych poświęceń w duszy bohatera. 
        </p>

        <p>
        Miejcie odwagę!... Nie tę jednodniową, <br/>    
        Co w rozpaczliwym przedsięwzięciu pryska, <br/> 
        Lecz tę, co wiecznie z podniesioną głową <br/>  
        Nie da się zepchnąć ze swego stanowiska.
        </p>

        <p>
        Miejcie odwagę... Nie tę tchnącą szałem, <br/>  
        która na oślep leci bez oręża, <br/>    
        Lecz tę, co sama niezdobytym wałem <br/>    
        Przeciwne losy stałością zwycięża. 
        </p>

        <p>
        Przestańmy własną pieścić się boleścią, <br/>   
        Przestańmy ciągłym lamentem się poić: <br/> 
        Kochać się w skargach jest rzeczą niewieścią, <br/> 
        Mężom przystało w milczeniu się zbroić... 
        </p>

        <p>
        Lecz nie przestajmy czcić świętości swoje <br/> 
        I przechowywać ideałów czystość; <br/>  
        Do nas należy dać im moc i zbroję, <br/>    
        By z kraju marzeń przeszły w rzeczywistość
        </p>
    </article>
{% endblock %}
