{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Adam Asnyk</h1>
    <h2>Za moich młodych lat</h2>

   
    <p>
          Za moich młodych lat <br/>
          Piękniejszym bywał świat, <br/>
          Jaśniejszym wiosny dzień!<br/>
          Dziś nie ma takiej wiosny, <br/>
          Posępny i żałosny <br/>
          Pokrywa ziemię cień.<br/>
    </p>
    <p>
          Za moich młodych lat <br/>
          Wonny miłości kwiat <br/>
          Perłowym blaskiem lśnił -<br/>
    </p>
    <p>
          Dziś blaski te i wonie <br/>
          Na próżno sercem gonię... <br/>
          Czarny je obłok skrył.<br/>
    </p>
</article>
 
    
{% endblock %}
