{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Stanislaw Srokowski</h1>
        <h2>Na koncu</h2>
        <p>
Przepraszam za niepocałunek<br/>
przepraszam za nieuśmiech<br/>
przepraszam za niespojrzenie<br/>
przepraszam za niechcenie<br/>
Jeźdźcy nieistnienia okrążają<br/>
nasze życie<br/>
i cwałuje kawaleria niebytu<br/>
pośród naszych niedowidzeń<br/>
by ujawnić niepojętość świata<br/>
który się spełnia w niemożliwościach<br/>
i niedopowiedzeniach<br/>

A twoje niedotknięcie<br/>
parzy moje nieme usta<br/>
a twoja niepamięć<br/>
pogrąża mnie<br/>
w smutku<br/>

Jestem na końcu<br/>
niczego<br/>
        </p>
    </article>
{% endblock %}
