{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>ks. Jan Twardowski</h1>
        <h2>Ankieta</h2>
        <p>
            Jakie to dziwne<br/>
            tak bolało<br/>
            nie chciało się żyć<br/>
            a teraz takie nieważne<br/>
            niemądre<br/>
            jak nic
        </p>
    </article>
{% endblock %}
