{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Kazimierz Przerwa-Tetmajer</h1>
    <h2>Nie wierzę w nic</h2>
    <p>
        Nie wierzę w nic, nie pragnę niczego na świecie,</br>
        Wstręt mam do wszystkich czynów, drwię z wszelkich zapałów:</br>
        Posągi moich marzeń strącam z piedestałów</br>
        I zdruzgotane rzucam w niepamięci śmiecie...</br>
    </p>
    <p>
        A wprzód je depcę z żalu tak dzikim szaleństwem,</br>
        Jak rzeźbiarz, co chciał zakląć w marmur Afrodytę,</br>
        Widząc trud swój daremnym, marmury rozbite</br>
        Depce, plącząc krzyk bólu z śmiechem i przekleństwem.</br>
    </p>
    <p>
        I jedna mi już tylko wiara pozostała:</br>
        Że konieczność jest wszystkim, wola ludzka niczym -</br>
        I jedno mi już tylko zostało pragnienie</br>
    </p>
    <p>
        Nirwany, w której istność pogrąża się cała</br>
        W bezwładności, w omdleniu sennym, tajemniczym</br>
I        nie czując przechodzi z wolna w nieistnienie.</br>
    </p>
</article>
{% endblock %}
