{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h2>Oda do Radosci</h2>

   
    <p>
O, radości, iskro bogów,<br/>
Kwiecie Elizejskich pól,<br/>
Święta, na twym świętym progu<br/>
Staje nasz natchniony chór.<br/>
Jasność twoja wszystko zaćmi,<br/>
Złączy, co rozdzielił los,<br/>
Wszyscy ludzie będą braćmi<br/>
Tam, gdzie twój przemówi głos.<br/>
    </p>
    <p>
Patrz, patrz, wielkie słońce światem<br/>
Biegnie sypiąc złote skry,<br/>
Jak zwycięzca i bohater<br/>
Biegnij bracie tak i ty.<br/>
Radość tryska z piersi Ziemi,<br/>
Radość pije cały świat,<br/>
dziś wchodzimy, wstępujemy,<br/>
Na radości złoty ślad<br/>
    </p>
    <p>
Ona w sercu, w zbożu, w śpiewie,<br/>
Ona w splocie ludzkich rąk,<br/>
Z niej najlichszy robak czerpie,<br/>
W niej największy nieba krąg.<br/>
Wstańcie, ludzie, wstańcie wszędzie,<br/>
Ja nowinę niosę wam:<br/>
Na gwiaździstym firmamencie<br/>
Bliska radość błyszczy nam.<br/>
    </p>
</article>
 
    
{% endblock %}
