{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Stanislaw Srokowski</h1>
        <h2>Odchodzenie</h2>
        <p>
Gdy szpital śpi, <br/>
cisza tyka w ścianach, <br/>
a po długich korytarzach <br/>
kardiologii rozpina swoją sieć <br/>
nicość.<br/><br/>

Powietrze unosi siną brew <br/>
i marszczy się w kącikach warg <br/>
umierającego starca. <br/>
Żółta łza światła spływa <br/>
w ciemność.<br<br/>

W moich żyłach rozkłada <br/>
namioty ostatni oddech <br/>
i zapalają się świece krwi, <br/>
których płomyki <br/>
dławią gardło.<br/><br/>

Na łóżkach modlą się <br/>
blade prześcieradła. <br/>
Tylko suche usta ścierają <br/>
powietrze w popiół.<br/><br/>

To życie wywiesza białe flagi, <br/>
to śmierć. <br/>
Noc naciąga kaptur i milczy. <br/>
I powoli opada powieka nieba.
        </p>
    </article>
{% endblock %}
