{% extends 'base.html.twig' %}

{% block body %}

<h1>Adam Mickiewicz osieł i pies</h1>
    <article>
    Jeśli chcesz, ośle, by pies kochał ciebie,<br/>

Kochajże ty psa" - słowa są Lokmana.<br/>

Rozumiał je nasz osieł, boć już nie był źrebię,<br/>

Ale z nich drwił. Ta lekkość jak była skarana,<br/>

Opowiem dla was, bydłąt potomnych, nauki.<br/>

 

Ten osieł, niosąc jak zazwyczaj juki,<br/>

Szedł w ślad za panem; a za nimi z tyłu<br/>

Mający nad jukami i bydlęciem dozor,<br/>

Ledwie widny w kłębach pyłu,<br/>

Biegł pies, wywiesiwszy ozor.<br/>

Bogdaj takich dozorców! Przez drogi czas wszytek<br/>

Nie tknął się swego podwładnego łytek;<br/>

Owszem, bawiąc go, to z boku hercuje,<br/>

To się naprzód wysforuje,<br/>

Ogonem wciąż dla zachętu<br/>

Krętu-wętu.<br/>

Szli tak aż do południa.<br/>

Pan na skwar narzekał,<br/>

Siadł pod drzewem i zasnął.<br/>

Tegoć osieł czekał.<br/>

Obejrzał się i naprzód darń przy drodze siekał,<br/>

Potem postrzygać zaczął czubek miedzy;<br/>

Na koniec - przez rów hopsasa -<br/>

Widzi się w łące,<br/>

Jakoś mimo wiedzy.<br/>

Nie znalazł-ci tam przysmaków,<br/>

Chwastowiska ni bodziaków,<br/>

Lecz koniczyny do pasa.<br/>

 

"Będziesz się miała z pyszna!<br/>

Tylko ty, człowiecze,<br/>

Zmiłuj się, śpij!" - Tak westchnął i siecze a siecze.<br/>

 

Psu oskoma i pokusa:<br/>

"Mój osłosiu, od rana jestem na czczo, mdli mię;<br/>

Ty masz wędzonkę w jukach, aż stąd czuć po dymie;<br/>

Pozwól, że dam jej całusa.<br/>

Wiesz, jak zrobim? Ja stanę na dwie łapy dębkiem,<br/>

A ty przyklęknij na jedno kolano".<br/>

Nasz egoista, jak:by do muru gadano,<br/>

Siecze a żuje milcząc. Aż wreszcie półgębkiem<br/>

Wypchanym koniczyną: "Co się tu wałęsasz?<br/>

Poszedłbyś, psie, do nogi! Jak Jegomość wstanie,<br/>

Da ci się śniadanie!"<br/>

Odpowiedzi nie czekał<br/>

I obuszcząk znowu<br/>

Tak zarwał trawy,<br/>

Że aż wygryzł w ziemi dołek,<br/>

Klnąc psa, że mu przeszkadza.<br/>

Wtem nagle, zza rowu,<br/>

Błysnął ku niemu parą krwawych świec wilkołek,<br/>

Biorąc go na cel i na tuj.<br/>

Wtedy do psa: "Bracie, broń, ciuciu, na tu, ratuj!"<br/>

A pies: "Ja nie twój Ratuj ani twój pan Broniec,<br/>

Nie wrzeszcz i łąki nie tratuj!<br/>

Czekaj, aż jegomość wstanie<br/>

Na waści obronienie i poratowanie."<br/>

W tejże chwili wilk osła dorznął.<br/>

Ot i koniec.<br/>
    </article>
{% endblock %}