{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Aleksander Fredro</h1>
    <h1>Paweł i Gaweł</h1>
        <p>
            Paweł i Gaweł w jednym stali domu,<br />
            Paweł na górze, a Gaweł na dole; <br />
            Paweł, spokojny, nie wadził nikomu, <br />
            Gaweł najdziksze wymyślał swawole.<br />
        </p>
        <p>
            Ciągle polował po swoim pokoju: <br />
            To pies, to zając - między stoły, stołki <br />
            Gonił, uciekał, wywracał koziołki, <br />
            Strzelał i trąbił, krzyczał do znoju. <br />
        </p>
        <p>
            Znosił to Paweł, nareszcie nie może; <br />
            Schodzi do Gawła i prosi w pokorze: <br />
            - Zmiłuj się waćpan, poluj ciszej nieco, <br />
            Bo mi na górze szyby z okien lecą. - <br />
            A na to Gaweł: <br />
            - Wolnoć, Tomku <br />
            W swoim domku. - <br />
            Cóż było mówić? Paweł ani pisnął, <br />
            Wrócił do siebie i czapkę nacisnął. <br />
            Nazajutrz Gaweł jeszcze smacznie chrapie, <br />
            A tu z powały coś mu na nos kapie. <br />
            Zerwał się z łóżka i pędzi na górę. <br />
        </p>
        <p>
            Stuk! Puk! - Zamknięto. Spogląda przez dziurę <br />
            I widzi... Cóż tam? Cały pokój w wodzie, <br />
            A Paweł z wędką siedzi na komodzie. <br />
            - Co waćpan robisz - Ryby sobie łowię. <br />
            - Ależ, mośpanie, mnie kapie po głowie! <br />
            A Paweł na to: <br />
            - Wolnoć, Tomku <br />
            W swoim domku. <br />
            Z tej powiastki morał w tym sposobie: <br />
            Jak ty komu, tak on tobie.<br />
        </p>
    </article>
{% endblock %}
