{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Stanislaw Srokowski</h1>
        <h2>Petla</h2>
        <p>
to ostatnia rzecz<br/>
co się ściśle wyraża<br/>
krótko i węzłowato<br/>
aż język kołkiem staje<br/>

jest wykrętem przed sobą<br/>
choć do nieba prosto mierzy<br/>
sięga tylko szubienicy<br/>

a z wyglądu koło ratunkowe nad głową<br/>
przywiązuje się do człowieka jak nikt dotąd<br/>
        </p>
    </article>
{% endblock %}
