{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Adam Asnyk</h1>
    <h2>Podróż Dunajcem</h2>

    
    <p>
Już jasny księżyc na wodospadzie <br/>
Haftuje srebrem strumienia bieg <br/>
I fala, co się do snu nie kładzie, <br/>
Lekko potrąca o skalny brzeg.<br/>
Już ciemne lasy drzemią w oddali <br/>
Szemrząc modlitwy wieczornej chór, <br/>
Dalekie echa głuchną na fali <br/>
I we mgłach toną podnóża gór.<br/>
    </p>
    <p>
Łódkę do drogi strumień kołysze <br/>
I pianą rosi nadbrzeżne mchy: <br/>
Płyńmy więc w ciemność i nocną ciszę, <br/>
W krainę cudów, marzeń i mgły.<br/>
    </p>
</article>




{% endblock %}
