{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Józef Czechowicz</h1>
    <h1>Poemat o mieście Lublinie</h1>
    
    <!-- pierwsza zwrotka -->
    <p>
    Na wieży furgotał blaszany kogucik<br/>
    na drugiej - zegar nucił.<br/> 
    Mur fal i chmur popękał<br/> 
    w złote okienka:<br/> 
    gwiazdy, lampy.<br/> 
    </p>
    
    <!-- druga zwrotka -->
    <p>
    Lublin nad łąką przysiadł.<br/> 
    Sam był - <br/> 
    i cisza. <br/> 
 
    Dokoła <br/> 
    pagórów koła, <br/> 
    dymiąca czarnoziemu połać.<br/>  
    </p>
    <!-- trzecia zwrotka -->
    <p>
    Mgły nad sadami czarnymi. <br/> 
    Znad łąki mgły. <br/> 
    Zamknęły się oczy ziemi <br/> 
    powiekami z mgły. <br/> 
    </p>
    </article>
{% endblock %}
