{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Adam Mickiewicz</h1>
    <h2>Rozum i wiara</h2>
    <p>
        Kiedy rozumne, gromowładne czoło<br/>
        Zgiąłem przed Panem jak chmurę przed słońcem:<br/>
        Pan je wzniósł w niebo, jako tęczy koło,<br/>
        I umalował promieni tysiącem. <br/>
    </p>
    <p>
        I będzie błyszczyć na świadectwo wierze,<br/>
        Gdy luną klęski z niebieskiego stropu:<br/>
        I gdy mój naród zlęknie się potopu,<br/>
        Spojrzy na tęczę i wspomni przymierze.<br/>
    </p>
    <p>
        I będzie błyszczyć na świadectwo wierze,<br/>
        Gdy luną klęski z niebieskiego stropu:<br/>
        I gdy mój naród zlęknie się potopu,<br/>
        Spojrzy na tęczę i wspomni przymierze.<br/>
    </p>
    <p>
        I będzie błyszczyć na świadectwo wierze,<br/>
        Gdy luną klęski z niebieskiego stropu:<br/>
        I gdy mój naród zlęknie się potopu,<br/>
        Spojrzy na tęczę i wspomni przymierze. <br/>
    </p>
    <p>
        Przejrzałem niskie ludzkości obszary<br/>
        Z różnych jej mniemań i barwą, i szumem:<br/>
        Wielkie i mętne, gdym patrzył rozumem,<br/>
        Małe i jasne przed oczyma wiary.<br/>
    </p>
    <p>
        I was dostrzegłem, o dumni badacze,<br/>
        Gdy wami burza jak śmieciem pomiata,<br/>
        Zamknięci w sobie, jak w konchy ślimacze,<br/>
        Chcieliście, mali, obejrzeć krąg świata.<br/>
    </p>
    <p>
        Konieczność - rzekli - wedle ślepej woli<br/>
        Panuje światu, jako księżyc morzu.<br/>
        A drudzy rzekli: Przypadek swawoli<br/>
        W ludziach, jak wiatry w nadziemskim przestworzu. <br/>
    </p>
    <p>
        Jest Pan, co objął oceanu fale<br/>
        I ziemię wiecznia kazał mu zamącać;<br/>
        Ale granicę wykował na skale,<br/>
        O którą wiecznie będzie się roztrącać.<br/> 
    </p>
    <p>
        Darmo chce powstać z ziemnego pogrzebu;<br/>
        Ruchomy wiecznie, ruchem swym nie władnie:<br/>
        Im wyżej buchnął, tym głębiej upadnie,<br/>
        Wznosząc się wiecznie, nie wzniesie ku niebu. <br/> 
    </p>
    <p>
        A promień światła, który słońce rzuci,<br/>
        Na szumnej morza igrając topieli<br/>
        Nie tonie, tylko w tęczę się rozdzieli<br/>
        I znowu w niebo, skąd wyszedł, powróci. <br/>
    </p>
    <p>
        Rozumie ludzki! tyś mały przed Panem,<br/>
        Tyś kroplą w Jego wszechmogącej dłoni;<br/>
        Świat cię niezmiernym zowie oceanem<br/>
        I chce ku niebu na twej wzlecieć toni.  <br/>
    </p>
    <p>
        Zdajesz się tykać brzegów widnokręga;<br/>
        Daremnie z żaglem nawa leci chyża:<br/>
        Opływa ziemię, niebios nie dosięga;<br/>
        Twa fala nigdy ku niebu nie zbliża.<br/>
    </p>
    <p>
        Wzdymasz się, płaszczysz, czernisz się i błyskasz,<br/>
        Otchłanie ryjesz i w górę się ciskasz,<br/>
        Powietrze ciemnisz chmurami mokremi<br/>
        I spadasz z gradem - tyś zawsze na ziemi!<br/>
    </p>
    <p>
        A promień Wiary, którą Niebo wznieca,<br/>
        Topi twe krople, zapala twe gromy<br/>
        I twe pogodne zwierciadła oświeca;<br/>
        Ach! ty bez Wiary byłbyś niewidomy.<br/>
    </p>
</article>
{% endblock %}

