{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Julian Tuwim</h1>
    <h2>Rzepka</h2>
    <p>
   Zasadził dziadek rzepkę w ogrodzie,<br/>
Chodził te rzepkę oglądać co dzień.<br/>
Wyrosła rzepka jędrna i krzepka,<br/>
Schrupać by rzepkę z kawałkiem chlebka!<br/>
Więc ciągnie rzepkę dziadek niebożę,<br/>
Ciągnie i ciągnie, wyciągnąć nie może!<br/>
</p>
<p>
Zawołał dziadek na pomoc babcię:<br/>
"Ja złapię rzepkę, ty za mnie złap się!"<br/>
I biedny dziadek z babcią niebogą<br/>
Ciągną i ciągną, wyciągnąć nie mogą!<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
Oj, przydałby się ktoś na przyczepkę!<br/>
</p>
<p>
Przyleciał wnuczek, babci się złapał,<br/>
Poci się, stęka, aż się zasapał!<br/>
Wnuczek za babcię,<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
Oj, przydałby się ktoś na przyczepkę!<br/>
Pocą się, sapią, stękają srogo,<br/>
Ciągną i ciągną, wyciągnąć nie mogą!<br/>
</p>
<p>
Zawołał wnuczek szczeniaczka Mruczka,<br/>
Przyleciał Mruczek i ciągnie wnuczka!<br/>
Mruczek za wnuczka,<br/>
Wnuczek za babcię,<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
Oj, przydałby się ktoś na przyczepkę!<br/>
Pocą się, sapią, stękają srogo,<br/>
Ciągną i ciągną, wyciągnąć nie mogą!<br/>
</p>
<p>
Na kurkę czyhał kotek w ukryciu,<br/>
Zaszczekał Mruczek: "Pomóż nam, Kiciu!"<br/>
Kicia za Mruczka,<br/>
Mruczek za wnuczka,<br/>
Wnuczek za babcię,<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
Oj, przydałby się ktoś na przyczepkę!<br/>
Pocą się, sapią, stękają srogo,<br/>
Ciągną i ciągną, wyciągnąć nie mogą!<br/>
</p>
<p>
Więc woła Kicia kurkę z podwórka,<br/>
Wnet przyleciała usłużna kurka.<br/>
Kurka za Kicię,<br/>
Kicia za Mruczka,<br/>
Mruczek za wnuczka,<br/>
Wnuczek za babcię,<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
Oj, przydałby się ktoś na przyczepkę!<br/>
Pocą się, sapią, stękają srogo,<br/>
Ciągną i ciągną, wyciągnąć nie mogą!<br/>
</p>
<p>
Szła sobie gąska ścieżynką wąską,<br/>
Krzyknęła kurka: "Chodź no tu gąsko!"<br/>
Gąska za kurkę,<br/>
Kurka za Kicię,<br/>
Kicia za Mruczka,<br/>
Mruczek za wnuczka,<br/>
Wnuczek za babcię,<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
Oj, przydałby się ktoś na przyczepkę!<br/>
Pocą się, sapią, stękają srogo,<br/>
Ciągną i ciągną, wyciągnąć nie mogą!<br/>
</p>
<p>
Leciał wysoko bocian-długonos,<br/>
"Fruńże tu, boćku, do nas na pomoc!"<br/>
Bociek za gąskę,<br/>
Gąska za kurkę,<br/>
Kurka za Kicię,<br/>
Kicia za Mruczka,<br/>
Mruczek za wnuczka,<br/>
Wnuczek za babcię,<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
Oj, przydałby się ktoś na przyczepkę!<br/>
Pocą się, sapią, stękają srogo,<br/>
Ciągną i ciągną, wyciągnąć nie mogą!<br/>
</p>
<p>
Skakała drogą zielona żabka,<br/>
Złapała boćka - rzadka to gradka!<br/>
Żabka za boćka,<br/>
Bociek za gąskę,<br/>
Gąska za kurkę,<br/>
Kurka za Kicię,<br/>
Kicia za Mruczka,<br/>
Mruczek za wnuczka,<br/>
Wnuczek za babcię,<br/>
Babcia za dziadka,<br/>
Dziadek za rzepkę,<br/>
A na przyczepkę<br/>
Kawka za żabkę<br/>
Bo na tę rzepkę<br/>
Też miała chrapkę.<br/>
</p>
<p>
Tak się zawzięli, Tak się nadęli,<br/>
Ze nagle rzepkę<br/>
Trrrach!! - wyciągnęli!<br/>
Aż wstyd powiedzieć,<br/>
Co było dalej!<br/>
Wszyscy na siebie<br/>
Poupadali:<br/>
Rzepka na dziadka,<br/>
Dziadek na babcię,<br/>
Babcia na wnuczka,<br/>
Wnuczek na Mruczka,<br/>
Mruczek na Kicię,<br/>
Kicia na kurkę,<br/>
Kurka na gąskę,<br/>
Gąska na boćka,<br/>
Bociek na żabkę,<br/>
Żabka na kawkę<br/>
I na ostatku<br/>
Kawka na trawkę.<br/>
</p>
<article>
{% endblock %}

