{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Sam<i>Baczyński Krzysztof Kamil</i></h1>

<pre>

W pokoju zabitym odległością ze wszech stron
słyszę pustką strzelają pociągi w wiaduktach.
Szeleszczą
dłońmi z szorstkiego sukna
wiatry zamknięte w jałowych milczeniach.
Dalej wieczór zapadły jak nasyp.
Każdym krokiem zmierzchu zostaję odległej
słyszę: najniepotrzebniej
biegnie pies przez nadbrzeżny piasek.
Niedaleko ludzie wplątani w odmienność.
Sprzęty: każdy jak wroga obcość.
Słychać podwórza rozsypane w śmiech chłopców.
Niedaleko:
lato szybuje z kwiatów - bąkiem.
Codzienność która już nie chce ostrzegać i ostrzec
patrzę: dokoła ludzie chodzą - pająki -
- po niewidzialnych niciach swojej odwagi najprostszej.

    </pre>
{% endblock %}
