{% extends 'base.html.twig' %}

{% block body %}
    <article>
  <pre>
    <h1>Maria Konopnicka</h1>
   <h2>Tęcza</h2>
    <p>
 — A kto ciebie, śliczna tęczo,<br/>
 Siedmiobarwny pasie,<br/>
 Wymalował na tej chmurce<br/>
 Jakby na atłasie?<br/>
 — Słoneczko mnie malowało<br/>
 Po deszczu, po burzy;<br/>
 Pożyczyło sobie farby<br/>
 Od tej polnej róży.<br/>
 Pożyczyło sobie farby<br/>
 Od kwiatów z ogroda;<br/>
 Malowało tęczę na znak,<br/>
 Że będzie pogoda!<br/>
</p>
    </pre>
{% endblock %}