{% extends 'base.html.twig' %}

{% block body %}
    <article>
  <pre>
    <h1>Jacek Kaczmarski</h1>
   <h2>Urodziny</h2>
    <p>
Południe. Na brzuchu pod słońcem jak ołów<br/>
W dzień śmierci mej kończę dwadzieścia pięć lat<br/>
I pełznę po polu do bliskich już dołów<br/>
Ostatni na ziemi tej żłobię dziś ślad.<br/>
Już nie chcę, nie mogę, niech strzela, niech strzela,<br/>
Już dalej nie dotrę, no, zabij, psia mać!<br/>
Gdy umrę, przestanę nareszcie umierać<br/>
Przestanę się ruszać, przestanę się bać!<br/>
Czyjś oddech mnie ściga. To sąsiad z baraku,<br/>
Ma lat osiemdziesiąt i dyszy lecz brnie<br/>
I pełznie do przodu i gada do piachu:<br/>
Ja nie dam się, nie dam się, nie dam się, nie...<br/>
Południe. Na brzuchu pod słońcem jak ołów<br/>
W narodzin dzień kończę dwadzieścia pięć lat<br/>
I pełznę po polu nie myśląc o dołach<br/>
Swój pierwszy na ziemi tej żłobiąc dziś ślad.<br/>
</p>
    </pre>
    </article>
{% endblock %}