{% extends 'base.html.twig' %}

{% block body %}
    <pre>    

    <article>
    <h1>Marsel Krysztofiński</h1>
    <h2>W Ogrodzie</h2>
    
    <p>
        W ogrodzie mojej babki, zanurzonym w cieniu,             <br/>
        W duchocie popołudnia, tuż przy ogrodzeniu,              <br/>
        W pobliżu krzywej furtki strzeżonej przez tuje,          <br/>
        Skory pobiec przed siebie chłopiec przydeptuje.          <br/>
    </p>
    <p>
        Niecierpliwie, bo nie wie, co to znaczy czekać.          <br/>
        Jest za mały. Wie tylko, że idziesz z daleka.            <br/>
        Że już wyszłaś, że idziesz, że przyjdziesz po niego.     <br/>
        Że to jest najważniejsze, choć nie wie dlaczego.         <br/>
    <p>
        To ja w krótkich spodenkach, ja sprzed lat czterdziestu, <br/>
        Wpatrzony w Łączną Drogę zza krzaków agrestu.            <br/>
        Pod śliwą i orzechem niby w wielkim lesie,               <br/>
        Ciekawy, kiedy przyjdziesz, co mi przyniesiesz.          <br/>
    </p>
    <p>
        Wytężam wzrok, bym dojrzał, bym na czas zobaczył,        <br/>
        Czekam, by pośród cieni, twój cień zamajaczył.           <br/>
        By się zbliżył i urósł, by się ucieleśnił,               <br/>
        Ciężkim zapachem lipca i smakiem czereśni.               <br/>
        Bym się rzucił weń, zapadł, bym w nim istnieć przestał,  <br/>
        Ja przed światem ukryty w tujach i agrestach.            <br/>
    </p>
    <p>
        Ja, który pełen winy siebie, jak garb noszę,             <br/>
        Czekam, byś mnie zabrała. Zabierz mnie już, proszę...    <br/>
    </p>
    </article>

    </pre>
{% endblock %}
