{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Pietruszczak Jerzy</h1>
        <h2>Wilczek</h2>
        <p>
Wilczus kochany wlazł mi w krzyże <br/>
Siedzi nieboga i mnie liże <br/>
Zgina ma kibic jak pająka <br/>
Ja tylko z lekka <br/>
Sobie <br/>
Chrząkam. 
        </p>
        <p>
A deszczyk pada i jest mżawka <br/>
Z wilczkiem mam lekka swa zabawkę <br/>
Jak robię przysiad <br/>
To mnie łupie <br/>
Wilczki są czasem <br/>
Bardzo <br/>
Głupie... 
        </p>
    </article>
{% endblock %}
