{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Krzysztof Kamil Baczyński</h1>
        <h2>Z głową na karabinie</h2>

        <p>
            Nocą słyszę, jak coraz bliżej<br/>
            drżąc i grając krąg się zaciska.<br/>
            A mnie przecież, zdrój rzeźbił chyży,<br/>
            wyhuśtała mnie chmur kołyska.
        </p>

        <p>
            A mnie przecież wody szerokie<br/>
            na dźwigarach swych niosły płatki<br/>
            bzu dzikiego; bujne obłoki<br/>
            były dla mnie jak uśmiech matki.
        </p>

        <p>
            Krąg powolny dzien czy noc krąży,<br/>
            ostrzem świszcząc tnie już przy ustach,<br/>
            a mnie przecież tak jak i innym<br/>
            ziemia rosła tęga – nie pusta.
        </p>

        <p>
            Krąg jak nożem z wolna rozcina,<br/>
            przetnie światło, zanim dzień minie,<br/>
            a ja prześpię czas wielkiej rzeźby<br/>
            z głową ciężką na karabinie.
        </p>

        <p>
            Obskoczony przez zdarzeń zamęt,<br/>
            kręgiem ostrym rozdarty na pół,<br/>
            głowę rzucę pod wiatr jak granat,<br/>
            piersi zgniecie czas czarną łapą;
        </p>

        <p>
            bo to by była życia nieśmiałość,<br/>
            a odwaga gdy śmiercią niosło.<br/>
            Umrzeć przyjdzie, gdy się kochało<br/>
            wielkie sprawy głupią miłością.
        </p>
    </article>
{% endblock %}
