{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jan Brzechwa</h1>
    <h2>Zegarek</h2>
    <pre>
    Jak się zegarkowi powodzi?
    Owszem, niczego, chodzi.
    Podobno spieszy się o trzy minuty?
    Owszem. Jest trochę zepsuty.

    Zegarek w duchu klnie,
    Bardzo mu to nie w smak,
    Chciałby powiedzieć: Nie!
    A mówi: Tak-tak, tak-tak, tak-tak.

    Pan jakoś dziś niewesoły?
    Bo się spóźniłem do szkoły.
    Nie wiedział pan, która godzina?
    Czyżby pękła sprężyna?

    Zegarek w duchu klnie,
    Bardzo mu to nie w smak,
    Chciałby powiedzieć: Nie!
    A mówi: "Tak-tak, tak-tak, tak-tak.

    Jakiej to marki zegarek?
    Ja nie wiem. Tyle jest marek...
    To zwykła tandeta, panie,
    Za chwilę na pewno stanie!

    Zegarek w duchu klnie,
    Bardzo mu to nie w smak,
    Chciałby powiedzieć: Nie!
    A mówi: Tak-tak, tak-tak, tak-tak.
    </pre>
{% endblock %}
