{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Krzysztof Kamil Baczyński</h1>
    <h2>Zła Kołysanka</h2>
<p> 
Jesiennych liści, twoich włosów zapach,</br>
brzęczy trwogi pęknięty zegar.</br>
Od gwiazd wieje chłód, zagasł świecznik lata</br>
i mój żal</br>
czarnym psem co wieczór do rąk ci przybiega.</br>
Czy umiesz zasnąć? Płacz umarłej olchy</br>
długo wyje po nocy - kopule echa.</br>
Płyniemy, nie ma portów, nie ma dla nas kolchid,</br>
wiesz: smutek - zaczajony patrol - tylko czeka.</br>
Dobry smok w bajce, teraz jest sen zastygły,</br>
sen upiorów - upływa nocy pomnik niebosiężny.</br>
Tylko krzyk widma, które chłop nabił na widły,</br>
tylko krzyk kotów duszonych przez księżyc.</br>
Czy umiesz zasnąć? Dziś obłąkany poeta</br>
powiesił się w czarnym krzyku zamiejskich sosen,</br>
a trupa kukły woskowej przy wiatru fletach</br>
deszcz po ulicach długo ciągnął za włosy.</br>
Śpij,</br>
przecież cicho.</br>
Noc urasta deszczowa na szybach</br>
i wiatr ślepy jak ja przed domem przyklęka.</br>
Kto nam ten czas wolny od trwogi wydarł -</br>
maleńka?</br>

10/11 wrzesień, noc. 40 r.</br>
</p>
</article>
{% endblock %}
